.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #da8a8a;
}

table {
  color: #111;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #dad8d8;
}

.header-row {
    background: #475e34;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

.odd  {
    background-color: #688056;
} 

.even {
    background-color: #7d9243; 
}